.contact-container {
    background-color: #000000;
    display: flex;
}

.compact-contact-container {
    display: flex;
    width: 80%;
    margin: 80px auto 10px auto;
    flex-direction: column;
}

.contact-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-title {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    font-weight: 200;
    font-size: 30px;
}

.social {
    width: 40%;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social-item > a{
    text-decoration: none;
    color: #ffffff42;
    font-weight: 400;
    transition: ease-in 0.2s;
}

.number {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.social-item:hover > a {
    color: white;
    transition: ease-in 0.2s;
}

.form {
    margin: 80px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.input, .text-area {
    width: 30%;
    color: white;
    display: flex;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #000000;
    outline: none;
}

.input-btn {
    background-color: white;
    color: #151515;
    outline: none;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    transition: ease-in 0.2s;
}

.input-btn:hover {
    background-color: cornflowerblue;
    color: white;
    transition: ease-in 0.2s;
    cursor: pointer;
}

input[type=text], input[type=email], input[type=number] {
    color: white;
}

@media only screen and (max-width: 800px) {
    .social {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

    .input, .text-area {
        width: 70%;
    }

    .social-item, .contact-title {
        text-align: center;
    }
}